.rbc-header {
  @apply border-b-0 pb-4 text-sm font-normal text-muted-foreground;
}

.rbc-header + .rbc-header {
  @apply border-l-0;
}

.rbc-button-link {
  @apply text-xs font-normal text-muted-foreground;
}

.rbc-month-row {
  @apply min-h-[180px] border-x border-t;
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
  @apply rounded-t-md;
}

.rbc-month-row:last-of-type {
  @apply rounded-b-md border-b;
}

.rbc-month-view {
  @apply border-none;
}

.rbc-date-cell {
  @apply p-2;
}

.rbc-today,
.rbc-off-range-bg {
  @apply bg-inherit;
}

.rbc-event {
  @apply bg-transparent p-0 border-none !important;
}

.rbc-addons-dnd-drag-preview {
  @apply bg-transparent p-0 border-none !important;
  opacity: 0.8;
}
.rbc-addons-dnd-drag-preview .rbc-event-content {
   /* Allow content to size itself */
}
